@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Rajdhani', sans-serif;
    background-color: #050505;
    color: #e0f2fe;
    overflow: hidden; /* Prevent scroll */
}
.font-display {
    font-family: 'Orbitron', sans-serif;
}
/* Custom scrollbar for logs */
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: #0f172a; 
}
::-webkit-scrollbar-thumb {
    background: #38bdf8; 
    border-radius: 3px;
}